/* Error: Undefined mixin.
 *    ,
 * 24 |     @include border-radius(10px);
 *    |     ^^^^^^^^^^^^^^^^^^^^^^^^^^^^
 *    '
 *   scss\_layout.scss 24:5  @import
 *   scss\main.scss 5:9      root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined mixin.\a    \2577 \a 24 \2502      @include border-radius(10px);\d\a    \2502      ^^^^^^^^^^^^^^^^^^^^^^^^^^^^\a    \2575 \a   scss\\_layout.scss 24:5  @import\a   scss\\main.scss 5:9      root stylesheet";
}
