// _components.scss
.doctor-card {
    background-color: $primary-color;
    padding: 20px;
    @include border-radius(10px);
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    @include transition(opacity, 0.6s);
  }
  
  .doctor-card img {
    @include border-radius(50%);
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin-bottom: 15px;
  }
  